.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.d-flex {
    display: flex;
}

.jc-sbetween {
    justify-content: space-between;
}

// SPACERS

@each $size in 0, 1, 2, 3, 4, 6 {
    .mt-#{$size} {
        margin-top: $size + 0rem;
    }
    .pt-#{$size} {
        padding-top: $size + 0rem;
    }
    .mb-#{$size} {
        margin-bottom: $size + 0rem;
    }
    .pb-#{$size} {
        padding-bottom: $size + 0rem;
    }
}

//LISTE 
.no-list-style {
    list-style: none;
    padding: 0;
}